.text1 {
	list-style:none;
}

.circulos {
	list-style-type: circle;
}

.cuadrados {
	list-style-type:square;
}

.numromanos {
	list-style-type:upper-roman;
}

.griegas {
	list-style-type:lower-greek;
}